<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="/Users?skip=0&take=20&sortBy=rating&order=dsc">Users</a></li>
                    <li><a href='/Matches?skip=0&take=20&searchString=""'>Matches</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href=@string.Format("/Logins/Delete/{0}", ViewBag.id)>Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <style>
            #custom-search-input{
                padding: 3px;
                border: solid 1px #E4E4E4;
                border-radius: 6px;
                background-color: #fff;
            }

            #custom-search-input input{
                border: 0;
                box-shadow: none;
            }

            #custom-search-input button{
                margin: 2px 0 0 0;
                background: none;
                box-shadow: none;
                border: 0;
                color: #666666;
                padding: 0 8px 0 10px;
                border-left: solid 1px #ccc;
            }

            #custom-search-input button:hover{
                border: 0;
                box-shadow: none;
                border-left: solid 1px #ccc;
            }

            #custom-search-input .glyphicon-search{
                font-size: 23px;
            }
        </style>

        <div class="container" style="margin-top: 20px;">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" id="search" class="form-control input-lg" value="@ViewBag.searchString"/>
                            
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button" onclick="search()">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        @RenderBody()
        <hr />
        <footer>
            <button type="button" id="prev">Prev</button>
            <button type="button" id="next">Next</button>
        </footer>
    </div>

    <script>
        function searchFunc() {
            window.location.href = "/Matches?skip=0&take=10&searchString=" + '"' + $("#search").val() + '"';
        }
    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
